body { 
    font-family:  Verdana, sans-serif;
    background-color:  #D2DC9D;
}
h1{ 
    font-family: 'Marko One', serif, Georgia; 
    font-size: 1.5em;/* 1.5x16=24px*/  
    color: #993399; 
    text-align: center;
    text-shadow: .2em .18em silver;
}
h2{ 
    font-size: 1em;
    color: #CC6600; 
    text-align: center; 
    font-size: x-large; 
    text-transform: uppercase;
    letter-spacing: 8px;
}

span.price{ 
    font-family: Georgia; 
    font-style: italic; 
    color: #808080;
}
#div1 {
    text-align: center;
    background-color: white;
    opacity: 0.5;
}
span.label{
    color: #808080;  
    font-weight: bold; 
    font-style: normal;
}
#info p{ 
    color: #808080;
    font-style: italic; 
} 
strong{
    color: #FF6347; 
    font-style: italic;
}
div dt{
    color: #A0522D; 
    font-weight: bolder;
}
p.warning{
    color: #FF0000; 
    font-style: normal;
    font-size: 0.9em;
}
li.c1{list-style: lower-roman;}
li.c2{list-style: circle; }
li.c3{list-style-position: inside;}
li.c4{ 
    font-size: xx-large;
    list-style-image: url(/tp2Input/images/bull.PNG);
}
a {
    text-decoration: none;
}
a:link {
    color: #993399;
}
a:visited {
    color: #937393;
}
a:hover {
    color: #C700F2;
    background-color: #FFC0CB;
}
a:active {
    color: #f0f;
    background-color: #FFFFFF;
}